usn{
        font-size:30pt;color:red;
}
name{
        font-size:50pt;color:blue;
}

branch{
        font-size:20pt;color:yellow;
}

year{
        font-size:25pt;color:green;
}

email{
        font-size:20pt;color:red;
}
