h1{text-align:center;border:1px solid;font-size:40px;font-style:courier;}
h1{text-align:center;border:2px solid;font-size:25px;font-style:courier;}
table{border:1px solid;font-size:25px;}
table{border:2px solid;font-size:25px;}
th{text-align:center;color:yellow;font-size:20px;}
li{color:yellow;font-size:20px;}
body{color:yellow;}
